<div class="inner{{#unless limit.raw}} unlimited{{/unless}} {{#when total.percent 'gt' 99}}full{{/when}}">
	<div class="title">{{t "app.storage"}}</div>
	<div class="description">
	{{#unless total}}
	{{t "app.checking"}}
	{{else}}
	{{total.string}} / {{#if limit.raw}}{{limit.string}} ({{total.percent}}%){{else}}∞{{/if}} {{t "app.used"}}
	</div>
	<div class="storage-bar">
		<div class="storage-fill system" style="width:{{system.percent}}%;"></div>
		<div class="storage-fill cache" style="width:{{cache.percent}}%;"></div>
		<div class="storage-fill assets" style="width:{{assets.percent}}%;"></div>
		<div class="storage-fill plugins" style="width:{{plugins.percent}}%;"></div>
	</div>
	<div class="storage-breakdown">
		<div class="storage-row system">
			<div class="name">{{t "app.system"}}</div>
			<div class="size">{{system.string}}</div>
			{{#if limit.raw}}<div class="percentage">({{system.percent}}%)</div></div>{{/if}}
			<div class="storage-action"></div>
		</div>
		<div class="storage-row cache">
			<div class="name">{{t "app.cache"}}</div>
			<div class="size">{{cache.string}}</div>
			{{#if limit.raw}}<div class="percentage">({{cache.percent}}%)</div></div>{{/if}}
			<div class="storage-action"></div>
		</div>
		<div class="storage-row assets">
			<div class="name">{{t "app.assets"}}</div>
			<div class="size">{{assets.string}}</div>
			{{#if limit.raw}}<div class="percentage">({{assets.percent}}%)</div></div>{{/if}}
			<div class="storage-action"></div>
		</div>
		<div class="storage-row plugins">
			<div class="name">{{t "app.plugins"}}</div>
			<div class="size">{{plugins.string}}</div>
			{{#if limit.raw}}<div class="percentage">({{plugins.percent}}%)</div></div>{{/if}}
			<div class="storage-action">
				<button class="btn tertiary-hollow">{{t "app.manageplugins"}}</button>
			</div>
		</div>
		<div class="storage-row free">
			<div class="name">{{t "app.freespace"}}</div>
			<div class="size">{{free.string}}</div>
			{{#if limit.raw}}<div class="percentage">({{free.percent}}%)</div>{{/if}}
			<div class="storage-action"></div>
		</div>
	</div>
	{{/unless}}
</div>
